<div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Carousel Product Cart Slider</h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                            data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
      
            <div class="carousel-inner">


                <div class="item active">
                    <div class="row">
                <% @peliculas.each do |pelicula| %>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="<%= pelicula.imagen %>" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                <%= pelicula.titulo %></h5>
                                            <h5 class="price-text-color">
                                                $199.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <% for i in 1..5 %>

                                                <% if i <=  pelicula.puntuacion %>

                                            <i class="price-text-color fa fa-star"></i>
                                                <% else %>
                                                
                                            <i class="fa fa-star"></i>
                                                <% end %>                                 
                                            <% end %>

                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><%= link_to 'Ver mas', pelicula %></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                <% end %>
                    </div>
                </div>
                         

                </div>
            </div>
        </div>
    </div>







<h1>Listing peliculas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Genero</th>
      <th>Sinopsis</th>
      <th>Fecha estreno</th>
      <th>Puntuacion</th>
      <th>Imagen</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @peliculas.each do |pelicula| %>
      <tr>
        <td><%= pelicula.titulo %></td>
        <td><%= pelicula.genero %></td>
        <td><%= pelicula.sinopsis %></td>
        <td><%= pelicula.fecha_estreno %></td>
        <td><%= pelicula.puntuacion %></td>
        <td><%= pelicula.imagen %></td>
        <td><%= link_to 'Show', pelicula %></td>
        <td><%= link_to 'Edit', edit_pelicula_path(pelicula) %></td>
        <td><%= link_to 'Destroy', pelicula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pelicula', new_pelicula_path %>
