<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @pelicula.titulo %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @pelicula.genero %>
</p>

<p>
  <strong>Sinopsis:</strong>
  <%= @pelicula.sinopsis %>
</p>

<p>
  <strong>Fecha estreno:</strong>
  <%= @pelicula.fecha_estreno %>
</p>

<p>
  <strong>Puntuacion:</strong>
  <%= @pelicula.puntuacion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @pelicula.imagen %>
</p>

<%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
<%= link_to 'Back', peliculas_path %>
